@media screen and (max-width: 1200px) and (min-width: 421px){
body {
    width: 1200px;
}
}

@media (min-width:421px){
  header{
    .inner{
      max-width: 1200px;
      margin: 0 auto;
      position: relative;
    }
  }
  .home_main{
    .inner{
      width:1000px;
    }
  }
  .content1{
    .inner{
      width:1050px;
    }
  }
  .content3{
    .inner{
      width:1200px;
    }
  }
  .content8{
    .inner{
      width: 1200px;
    }
  }
}
@media (max-width:420px) {
  body{
    width:420px;
  }
  .sp{
    display: block;
  }
  .pc{
    display: none;
  }

  //header
  header{
    height: 60px;
    h1{
      left: 5px;
      top: 40px;
      font-size: 12px;
    }
    .tel{
      margin-right: 20px;
    }
  }

  //home_main
  .home_main{
    height: 650px;
    .inner{
      h2{
        text-align: center;
        font-size:18px;
      }
      .home_text01{
        text-align: center;
        font-size: 34px;
        margin-top: 170px;
      }
      .home_text02{
        font-size: 24px;
        margin-top: 30px;
      }
      span{
        font-size:44px;
      }
    }
  }

  //content1
  .content1{
    .inner{
      height:300px;
    }
    .c1text01{
      font-size: 16px;
    }
    .c1text02,.c1text03{
      font-size: 20px;
    }
    p{
      text-align: center;
    }
  }

  //content2
  .content2{
    .inner{
      margin: 0 10px;
    }
    h2{
      padding: 30px 0;
      font-size: 18px;
    }
    .c2text01{
      font-size: 16px;
    }
    .c2text02{
      font-size: 18px;
    }
    .c2text03{
      font-size: 12px;
    }
  }

  //content3
  .content3{
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 18px;
  }
  p{
    margin: 0 10px;
    font-size: 14px;
    padding:0;
  }
}

//content4
.content4{
  padding:
  30px 0;
  h2{
    font-size: 14px;
    span{
      font-size: 24px;
    }
  }
  .c4text01{
    font-size: 16px;
  }
}

//content5
.content5{
  padding:
  30px 0;
  h2{
    font-size: 24px;
  }
  .c5text01{
    font-size: 16px;
  }
}

//content6
.content6{
  padding-top: 20px;
  font-size: 18px;
  h3{
   height: 150px;
  }
}

//content7
.content7{
  h2{
    font-size:26px;
    line-height: 1.3;
    margin-bottom: 30px;
    span{
      font-size: 20px;
    }
    &::before{
      font-size:40px;
    }
  }
}

//content8
.content8{
  padding: 30px 0 0;
  .inner{
    height:400px;
    h2{
      font-size: 24px;
      font-weight: bold;
    }
    p{
      font-size: 14px;
      line-height: 1.8;
    }
  }
}

//content9
.content9{
  h2{
    font-size: 20px;
    padding: 50px 0 20px;
  }
  .c9text01{
    font-size: 26px;
  }
  .c9text02{
    font-size: 16px;
  }
  .c9text03{
    font-size: 14px;
  }
}
}
